@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}
.logo{width: 100px;}
.typo {

      
    background: -webkit-radial-gradient(circle, #ff9999, #e9e9e9, #e9e9e9);/* Safari */
    background: -o-radial-gradient(circle, #ff9999, #e9e9e9, #e9e9e9); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ff9999, #e9e9e9, #e9e9e9);/* Firefox 3.6 to 15 */
     background: radial-gradient(circle, #ffffff, #28566c, #28566c); /* Standard syntax */
}
